{{!< layout}}
<link rel="stylesheet" href="/stylesheets/paperList.css" media="screen" title="no title" charset="utf-8">
<script src="./jquery/dist/jquery.js"></script>
<script src="./javascripts/jquery-cookie.js"></script>
<script type="text/javascript" src="/javascripts/paper-list-res.js">

</script>
   <div class="" align="left">
   <table>
    <thead>
      <th>考试编号</th>
      <th>考试名称</th>
      <th>考试状态</th>
    </thead>
    <tbody id="tbody">
        {{#each examList}}
        <tr data-id={{id}}>
            <td>{{id}}</td>
            <td>{{examName}}</td>
            <td data-id="status">{{status}}<input type="button" class="check" value="开始考试" data-status="{{status}}"></td>
        </tr>
        {{/each}}
    </tbody>
   </table>
  </div>
