{{!< ./layout/student-layout}}
{{#contentFor "studentFile"}}
  <link rel="stylesheet" href="./stylesheets/paper-list.css">
  <script type="text/javascript" src="./javascripts/paper-list-res.js"></script>
{{/contentFor}}

<div class="" align="left">
  <table>
    <thead>
      <th>考试编号</th>
      <th>考试名称</th>
      <th>考试状态</th>
    </thead>
    <tbody id="tbody">
      {{#each examList}}
        <tr data-id= {{id}}>
          <td>{{id}}</td>
          <td>{{examName}}</td>
          <td data-id="status">{{status}}</td>
          <td><input type="button" class="check" value={{status}} data-status="{{status}}"></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
