{{!< layout}}

<head>
  <link rel="stylesheet" href="./stylesheets/paper.css">
</head>

<div class="title">
  <h1>数学
    <h1>
</div>
<div class='context'>
  <form id='test-container'>

    <h2>时间: 100 分钟</h2>
    <h2> 得分:
      <input type="text" id="score" />
    </h2>
    <div class="blank">
      <p>一 、填空题</p>
      {{#each blank}}
        <li>{{content}}</li>
        (
        <input type="text" value=''>)

      {{/each}}
    </div>
    <div class="select">
      <p>二 、选择题</p>
      {{#each single}}
        <br>
        <li>{{content}}</li>
        <input type="radio" name= {{content}} value='A'>{{A}}
        <input type="radio" name= {{content}} value='B'>{{B}}
        <input type="radio" name= {{content}} value='C'>{{C}}
        <input type="radio" name= {{content}} value='D'>{{D}}
        <br>
      {{/each}}
    </div>
    <div class="mselect">
      <p>三 、多选题</p>
      {{#each multiple}}
        <br>
        <li>{{content}}</li>
        <input type="checkbox" name= {{content}} value='A'>{{A}}
        <input type="checkbox" name= {{content}} value='B'>{{B}}
        <input type="checkbox" name= {{content}} value='C'>{{C}}
        <input type="checkbox" name= {{content}} value='D'>{{D}}
        <br>
        <br>
      {{/each}}
    </div>
    <div class="submit">

      <input type="button" id="submit" onclick="CalculateScore()" value="提交">
    </div>
  </form>
</div>
