{{!< layout}}

<head>
  <link rel="stylesheet" href="./stylesheets/paper.css">
</head>

<div class='context'>
  <form id='test-container'>
    <div id="title">
      <ul>
        <li>时间: </li>
        <input type="text" value='100分种' style='border-left:0px;border-top:0px;border-right:0px;border-bottom:1px ' />
        <li> 得分:</li>
        <input type="text" id="score" />
      </ul>
    </div>
    <div class="blank">
      <p>一 、填空题</p>
      {{#each blank}}
        <br>{{content}}
        <input type="text" value=''>
        </br>
      {{/each}}
    </div>
    <div class="select">
      <p>二 、选择题</p>
      {{#each single}}
        <br> {{content}}
        <br>
        <input type="radio" name= {{content}} value='A'>{{A}}
        <br>
        <input type="radio" name= {{content}} value='B'>{{B}}
        <br>
        <input type="radio" name= {{content}} value='C'>{{C}}
        <br>
        <input type="radio" name= {{content}} value='D'>{{D}}
        <br>
        <br>
      {{/each}}
    </div>
    <div class="mselect">
      <p>三 、多选题</p>
      {{#each multiple}}
        <br> {{content}}
        <br>
        <input type="checkbox" name= {{content}} value='A'>{{A}}
        <br>
        <input type="checkbox" name= {{content}} value='B'>{{B}}
        <br>
        <input type="checkbox" name= {{content}} value='C'>{{C}}
        <br>
        <input type="checkbox" name= {{content}} value='D'>{{D}}
        <br>
        <br>
      {{/each}}
    </div>
    <div class="submit">

      <input type="button" id="submit" onclick="CalculateScore()" value="提交">
    </div>
  </form>
</div>
